@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
  height: 100%;
  background-image:  linear-gradient(rgba(100, 100, 100, 0.486), rgb(0, 0, 0)), url("expanse_background.jpg");
  /* background-color: rgba(0, 0, 0, .65);  */
  background-blend-mode: darken;
  background-size:cover; 
  background-position: center;
 }
body{
  padding: 20px;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
}
p {
  color: white;
  font-family: 'Raleway', sans-serif;
}

#footnotes{
  bottom: 30px;
  width: 100%;
}

a:link {
  color:  white;
  background-color: transparent;
  text-decoration:underline;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.header {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1.8em;
}

.label{
  margin : 2;
}

label {
  color: white;
  font-family: 'Raleway', sans-serif;
}
